$color-light: {{ .Site.Params.colorLight | default "#fff"}} !default;
$color-dark: {{ .Site.Params.colorDark | default "#666"}} !default;
$color-page-background: {{ .Site.Params.colorPageBackground | default "#ddd" }} !default;
$color-primary: {{ .Site.Params.colorPrimary | default "#dbdbdb"}} !default;
$color-icon-primary: {{ .Site.Params.colorIconPrimary | default "#ccc"}} !default;
$color-icon-secondary: {{ .Site.Params.colorIconSecondary | default "#e3bfb8"}} !default;
$color-icon-background: {{ .Site.Params.colorIconBackground | default "#dbdbdb"}} !default;
$color-left-col-background: {{ .Site.Params.colorLeftColumnBackground | default "#333" }} !default;
$color-right-col-heading-text: {{ .Site.Params.colorRightColumnHeadingText | default "#666" }} !default;
$color-right-col-body-text: {{ .Site.Params.colorRightColumnBodyText | default "#666" }} !default;

// Direction for rtl or ltr
$direction: {{ or (index .Site.Data .Site.Language.Lang).content.Dir .Site.Data.content.Dir | default "ltr" }} !default; 


$pages: {{ .Site.Params.pages | default 1}} !default;

// "abstract";
$width-right-col: 52rem; // 65%
$page-width: 80rem;
$width-left-col: $page-width - $width-right-col;

// "mixins";
@mixin hz-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin vt-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@import "layout";
@import "base";


@mixin all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@mixin avoid-break {
    @media print {
        // page-break-inside: avoid;
    }
}

// "typography";
body {
    @if $direction == "rtl" {
        font-family: 'Vazirmatn'
    }
    @else {
        font-family: 'Roboto', sans-serif;
    }
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.12rem;
    color: $color-dark;
}

.mainHeading {
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    color: $color-light;

    & span {
        color: $color-icon-secondary;
    }
}

.section__title {
    font-size: 2.1rem;
    color: $color-dark;
}

h1,
h2 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}


@import "components/section";
@import "components/side_section";
@import "components/experience";
@import "components/skills";
@import "components/education";

@import "components/contact";
@import "components/avatar";
@import "components/personal"