.personal {
    &__group {
        display: inline-flex;
        // @include avoid-break;
        align-items: center;
    }
    
    &__item {
        @if $direction == "rtl"{
            padding-left: 0.5rem;
        }
        @else {
            padding-right: 0.5rem;
        }
    }

}