{{ if .Education }}
<div id="education" class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">
            {{ i18n "education" }}
        </h2>
    </div>
    <div class="sideSection__content">
        {{ range .Education }}
            <div class="">
                <h4 class="education__degree">{{ .Degree | safeHTML }}</h4>
                <h4 class="education__description">{{ .FieldOfStudy | safeHTML }}</h4>
                <h3 class="education__title">{{ .NameofSchool | safeHTML }}</h3>
                <h4 class="education__item">
                    <i class="fa fa-calendar-alt"></i><span>{{ .Date | safeHTML }}</span>
                </h4>
                <h4 class="education__item">
                    <i class="fa fa-map-marker-alt"></i><span>{{ .Location | safeHTML }}</span>
                </h4>
                {{if .RelevantCourses}}
                    <h3>{{ i18n "relevantCourses" }}</h3>
                    <ul class="education__item">
                        {{range .RelevantCourses}}
                            <li class="education__bullet"></li>-<span>{{ . }}</span>
                        {{end}} 
                    </ul>
                {{end}}
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
